$red: #F14C4C;
$orange: #CE9178;
$yellow: #D7BA7D;
$green: #A9DC76;
$light-blue: #9CDCFE;
$blue: #569CD0;
$purple: #DA70D6;
$base: #1F1F1F;
$darker: #181818;
$elevated-0: #232323;
$elevated-1: #454545;
$text: #CCCCCC;

html,
body,
main.main-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: $darker;
  font-family: monospace;
  color: $text;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
}

.main-container-contents {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 5rem);
  position: absolute;
  top: 2.5rem;
}

.radar-2d {
  background-color: $darker;
  border: 1px solid $elevated-0;
}

.radar-2d canvas {
  background-color: $darker;
}

.radar-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
}


.sidebar {
  background-color: $darker;
  border-right: 1px solid $elevated-0;
  width: 12rem;
}

.status-bar {
  width: 100vw;
  height: 2rem;
  background-color: $darker;
  padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.status-bar .icon {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  color: $text;
}

.status-bar span {
  font-size: medium;
}

.bottom {
  position: absolute;
  bottom: 0;
  border-top: 1px solid $elevated-0;
}

.top {
  position: absolute;
  top: 0;
  border-bottom: 1px solid $elevated-0;
}