$red: #FF6188;
$orange: #FC9867;
$yellow: #FFD866;
$green: #A9DC76;
$light-blue: #78DCE8;
$blue: #6186d6;
$purple: #AB9DF2;
$base: #221F22;
$darker: #19181A;
$elevated-0: #2D2A2E;
$elevated-1: #403E41;
$text: #FCFCFA;

html,
body,
main.main-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: $darker;
  font-family: monospace;
  color: $text;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.panel-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panel-wrapper {
  overflow: hidden;
}

.panel {
  width: 100%;
  height: 100%;
  background-color: $base;
  padding: 1rem;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-gutter {
  background-color: $elevated-0;
  flex-shrink: 0;

  &.horizontal {
    width: 2px;
    cursor: col-resize;
  }

  &.vertical {
    height: 2px;
    cursor: row-resize;
  }
}




.radar-2d {
  background-color: $darker;
  border: 1px solid $elevated-1;
  aspect-ratio: 1 / 1;
  height: 100%;
  width: auto; 
  max-width: 100%;
}